/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

/* INICIO HEADER */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  position: absolute;
}

nav {
  margin-left: -140px;
}

li,
a {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  display: inline;
  padding: 8px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
.compras {
  cursor: pointer;
}
.compras:hover {
  opacity: 0.4;
}

li:hover {
  opacity: 0.4;
}

.logo {
  cursor: pointer;
  height: 39px;
  width: 159px;
}

.nav_links {
  display: inline-block;
  padding: 0px 20px;
}

.BarMenu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

/* FIN HEADER */

/* INICIO BANNER */
.banner {
  display: flex;
  z-index: 1;
  width: 100%;
}

.contenedor_izq {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: #0f0f13;
}

.titulo {
  height: 100%;
  margin-top: 5%;
}
.imagenes {
  display: flex;
  height: 40%;
  align-items: flex-end;
}

.contenedor_der {
  height: 100vh;
  width: 100%;
}

.banner_text {
  color: white;
  font-family: "raleway", sans-serif;
  width: 350px;
  height: 130px;
  margin-top: 20%;
  margin-left: 16%;
  text-align: center;
  font-size: 4rem;
  position: relative;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
.text_nro {
  font-size: 75px;
  font-weight: normal;
}

.btn1 {
  margin-top: 3rem;
  margin-left: 8%;
  width: 120px;
  height: 35px;
  background-color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: none;
  position: absolute;
  outline: 0;
}

.btn1:hover {
  background-color: #0f0f13;
  color: white;
  border: 1px solid white;
}

.img_izq {
  background-image: url("Imagenes/image12.png");
  height: 7.5rem;
  width: 8rem;
  margin-left: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.img_der {
  background-image: url("Imagenes/image11.png");
  height: 15rem;
  width: 10rem;
  margin-left: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

/* FIN BANNER */

/* INICIO CONTENIDO */
.content {
  display: flex;
  margin-top: -5%;
  flex-direction: column;
}


.linea_izq {
  display: flex;
  flex-direction: column;
  background-color: #f7f7fa;
  width: 33vw;
}

.linea_der {
  width: 100vw;
  height: 40vh;
  background-color: #f7f7fa;

  margin-top: -20%;
  z-index: -1;
}

.div_texto {
  height: 40px;
}

.msg_scroll {
  margin-top: 1rem;
  margin-left: 36%;
  height: 50px;
  position: absolute;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
.title {
  margin-top: 10rem;
  margin-left: 32%;
  font-family: "raleway", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #818191;
}

.subtitle {
  margin-top: 1rem;
  margin-left: 32%;
  font-family: "raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #0f0f13;
}

.img_container {
  display: flex;
  padding: 1rem;
  margin-left: 29%;
  justify-content:space-between;
  width: 85vw;
}
.img13,
.img14,
.img15 {
  width: 305px;
  height: 480px;
  z-index: 3;
}

.img13:hover {
  opacity: 0.8;
}

.img14:hover {
  opacity: 0.8;
}

.img15:hover {
  opacity: 0.8;
}
.seeAll {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  margin-left: 41.5%;
  margin-top: -20%;
  width: 185px;
  background-color: #eeeef0;
  height: 40px;
  font-family: "raleway", sans-serif;
  border: 2px solid #0f0f13;
}

.seeAll:hover {
  background-color: #0f0f13;
  color: white;
}

/* FIN CONTENIDO */

/* INICIO FOOTER */

.footer {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "raleway", sans-serif;
}

.contact {
  display: flex;
  margin-right: 10px;
  width: 200px;
  font-size: 12px;
  justify-content: space-between;
}

/* FIN FOOTER */

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .imagenes {
    width: 90%;
    margin-left: 5%;
  }

  .img_izq {
    margin-left: 5rem;
  }
  .msg_scroll {
    margin-top: 0.5rem;
    margin-left: 35%;
  }
  .seeAll {
    margin-top: -15%;
    margin-left: 36%;
  }

  .img_container {
    margin-left: 21%;
  }

  .linea_der {
    width: 100vw;
    height: 50vh;
    background-color: #f7f7fa;

    margin-top: -10%;
    z-index: -1;
  }
  .title {
    margin-left: 25%;
  }
  .subtitle {
    margin-left: 25%;
  }
  .img13, .img14, .img15{

    width: 255px;
    height: 450px;

  }

}

@media screen and (max-width: 1024px) {
  .nav_links {
    display: none;
  }
  .compras {
    display: none;
  }
  .logo {
    z-index: 11;
  }

  .nav_links.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #0f0f13;
    top: 20;
    left: 0;
    z-index: 10;
    line-height: 40px;
    padding: 120px;
    font-size: 20rem;
    font-weight: bolder;
  }
  .BarMenu {
    display: block;
    z-index: 11;
  }

  .banner {
    flex-direction: column;
    height: 95%;
    width: 100%;
  }

  .contenedor_izq {
    height: 50%;
    justify-content: center;
  }

  .contenedor_der {
    height: 50%;
    z-index: 2;
  }

  .titulo {
    display: flex;
    justify-content: center;
  }

  .banner_text {
    height: 180px;
    width: 400px;
    margin: 2vh auto;
  }

  .btn1 {
    margin: 32vh auto;
    z-index: 4;
  }

  .img_izq {
    display: none;
  }

  .img_der {
    display: none;
  }

  .title {
    margin-left: 15%;
  }
  .subtitle {
    margin-left: 15%;
  }
  .msg_scroll {
    margin-top: 6%;
    margin-left: 60%;
    font-size: 15px;
  }
  .contact {
    display: none;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  
  .linea_izq {
    /* background-color: black; */
    width: 50%;
  }
  .linea_der{
    width: 50%;
    margin-top: 10px;
  }

  .img_container{

    margin-left: 12%;
  }



}

@media screen and (max-width: 900px) {
  .banner_text {
    margin: 4vh auto;
  }

  .btn1 {
    margin: 32vh auto;
  }

  .img14{
      display: none;
  }

}

@media screen and (max-width: 700px) {
  .banner_text {
    width: 60%;
    margin: 8vh auto;
  }

  .btn1 {
    margin: 35vh auto;
  }
}

@media screen and (max-width: 600px) {
  .titulo {
    display: flex;
    justify-content: center;
  }

  .banner_text {
    width: 60%;
    font-size: 50px;
  }

  .text_nro {
    font-size: 60px;
  }

  .img15{

    display: none;
  }
  .img13{

        width: 300px;
  }

  .img_container{

    width: 100%;
    margin-left: 40%;
  }

}

@media screen and (max-width: 400px) {
  .titulo {
    display: flex;
    justify-content: center;
  }

  .banner_text {
    width: 60%;
    font-size: 50px;
  }

  .text_nro {
    font-size: 60px;
  }

  .img_container{

    width: 100%;
    margin-left: 30%;
  }


}
