/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  overflow-x: hidden;
} 
/* INICIO HEADER */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 35px 7vw;
  position: absolute;
}

nav {
  margin-left: -140px;
}

li,
a {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 1vw;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  display: inline;
  padding: 8px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
.compras {
  cursor: pointer;
}
.compras:hover {
  opacity: 0.4;
}
li:hover {
  opacity: 0.4;
}
.logo {
  cursor: pointer;
  height: 39px;
  width: 159px;
}
.nav_links {
  display: inline-block;
  padding: 0px 20px;
}
.BarMenu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

/* FIN HEADER */

/* INICIO BANNER */
.banner {
  display: flex;
  z-index: 1;
  width: 100vw;
}
.contenedor_izq {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: #0f0f13;
}
.titulo {
  height: 100vh;
  margin-top: 6vh;
}
.img_banner {
  display: flex;
  height: 40%;
  align-items: flex-end;
}
.contenedor_der {
  height: 100vh;
  width: 100%;
}
.banner_text {
  color: white;
  font-family: "raleway", sans-serif;
  width: 26vw;
  height: 20vh;
  margin-top: 10vh;
  margin-left: 8vw;
  font-size: 4.5vw;
  position: relative;
  font-smooth: never;
  -webkit-font-smoothing: none;
  text-align: left;
}

.text_nro {
  font-size: 6vw;
  font-weight: normal;
}

.btn1 {
  margin-top: 10vh;
  margin-left: 8.5%;
  width: 10vw;
  height: 7vh;
  background-color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 1.3vw;
  font-weight:bolder;
  border: none;
  position: absolute;
  outline: 0;
}

.btn1:hover {
  background-color: #0f0f13;
  color: white;
  border: 1px solid white;
}

.img_izq {
  background-image: url("Imagenes/image12.png");
  height: 7.5rem;
  width: 8rem;
  margin-left: 8.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.img_der {
  background-image: url("Imagenes/image11.png");
  height: 15rem;
  width: 10rem;
  margin-left: 13.3vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

/* FIN BANNER */

/* INICIO CONTENIDO */
.content {
  display: flex;
  margin-top: -10vh;
  flex-direction: column;
}

.linea_izq {
  display: flex;
  flex-direction: column;
  background-color: #f7f7fa;
  width: 31.2vw;
}

.linea_der {
  width: 100vw;
  height: 45vh;
  background-color: #f7f7fa;

  margin-top: -20%;
  z-index: -1;
}

.msg_scroll {
  margin-top: 3vh;
  margin-left: 35vw;
  position: absolute;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: bolder;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.title {
  margin-top: 10rem;
  margin-left: 28%;
  font-family: "raleway", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #818191;
}

.subtitle {
  margin-top: 1rem;
  margin-left: 28%;
  font-family: "raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #0f0f13;
}

.img_container {
  display: flex;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 25%;
  justify-content:space-between;
  width: 85vw;
}
.img13,
.img14,
.img15 {
  width: 305px;
  height: 480px;
  z-index: 3;
}

.img13:hover {
  opacity: 0.8;
}

.img14:hover {
  opacity: 0.8;
}

.img15:hover {
  opacity: 0.8;
}
.seeAll {
  font-size: 1.2vw;
  font-weight: bold;
  position: absolute;
  margin-left: 82vw;
  margin-top: 29vh;
  width: 10vw;
  height: 7vh;
  background-color: #eeeef0;
  font-family: "raleway", sans-serif;
  border: 2px solid #0f0f13;
}

.seeAll:hover {
  background-color: #0f0f13;
  color: white;
}


/* FIN CONTENIDO */

/* INICIO FOOTER */

.footer {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "raleway", sans-serif;
}

.contact {
  display: flex;
  margin-right: 10px;
  width: 200px;
  font-size: 12px;
  justify-content: space-between;
}

/* FIN FOOTER */

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .nav_links {
    display: none;
  }
  .compras {
    display: none;
  }
  .logo {
    z-index: 11;
  }

  .nav_links.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #0f0f13;
    top: 20;
    left: 0;
    z-index: 10;
    line-height: 40px;
    padding: 120px;
    font-size: 10vh;
    font-weight: bolder;
  }

  li a{

    font-size: 3vw;
    text-align: center;
  }
  .BarMenu {
    display: block;
    z-index: 11;
  }

  .banner {
    flex-direction: column;
    height: 95vh;
    width: 100%;
    justify-content: center;
  }

  .contenedor_izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    justify-content: center;
  }
  .contenedor_der {
    height: 50%;
    z-index: 2;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 8vh;
  }
  .cont_banner{
    display: flex;
    align-content: center;
    height: 20vh;
    width: 80vw;
    padding: 1vw;
  }

  .banner_text{
    height: 15vh;
    width: 28vw;
    margin: 1vh auto;
    text-align: center;
  }

  .cont_btn{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 80vw;
    align-content: center;
    padding: 1vw;
  }

  .btn1 {
    
    width: 15vw;
    height: 6vh;
    font-size: 1.8vw;
    margin: 6vh auto 4.5vh;
    
    z-index: 4;
  }

  .img_izq {
    display: none;
  }

  .img_der {
    display: none;
  }

  .title {
    margin-left: 7.5vw;
    font-size: 2vw;
    
  }
  .subtitle {
    font-size: 5vw;
    margin-left: 7.5vw;
  }
  .msg_scroll {
    margin-top: 12vh;
    margin-left: 63vw;
    font-size: 15px;
  }
  .contact {
    display: none;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .linea_izq {
    width: 50vw;
  }
  .linea_der{
    width: 50vw;
    height: 30vh;
    margin-top: 10px;
  }

  .img_container{
    margin-left: 3vw;
  }

  .img13, .img14, .img15{

    width: 30vw;
    height: 60vh;
    padding: 2vw;
  }

}


@media screen and (max-width: 900px){

  .banner_text{
    height: 16vh;
    width: 40vw;
    text-align: center;
    font-size: 7vw;
  }
  .btn1{
    margin-top: 9vh;
    width: 20vw;
    font-size: 2.5vw;
  }
  .text_nro{

    font-size: 9vw;
  }

  .seeAll{

    width: 11vw;
    font-size: 1.8vw;
  }

}

@media screen and (max-width: 700px){

  .banner_text{
    height: 15vh;
    width: 55vw;
    margin: 5vh auto;
    text-align: center;
    font-size: 10vw;
  }

  .seeAll{

    width: 14vw;
    margin-left: 80vw;
    font-size: 2vw;

  }
  
}


@media screen and (max-width: 550px){

  .banner_text{
    height: 15vh;
    width: 56vw;
    margin: 5vh auto;
    text-align: center;
    font-size: 10vw;
  }

  .text_nro{
    font-size: 12vw;
  }
  .msg_scroll{
    margin-top: 11.3vh;
    margin-left: 58vw;
  }

  .seeAll{
    width: 35vw;
    margin-top: 26vh;
    margin-left: 56vw;
    font-size: 3vw;
  }
  .img13, .img14 {

    width: 43vw;
    height: 50vh;
    padding: 1vw;
  }
  .img15{

    display: none;
  }

}

@media screen and (max-width: 380px ){

  .btn1{

    margin-top: 2vh;
  }

  .img14{

    display: none;
  }

  .img13{

    width: 85vw;
    height: 80vh;
  }
  .title{

    font-size: 2.5vw;
  }

  .seeAll{
    font-size: 4vw;
    margin-top: 20vh;
  }


}